{% extends 'base.html.twig' %}

{% block title %}Caissier{% endblock %}

{% block content %}
    <div class="row">
         <div class="col-3 pull-right ">
              <a class="btn btn-large btn-sm btn-primary" style="margin-right: 20px;
margin-bottom: 5px;" href="{{path('admin.partenaire.add')}}" role="button">Nouveau</a>
        </div>

          
    </div>
<table id="profils" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Login</th>
       <th>Profil</th>
       <th>Etat</th>
       <th>Action</th>
        <th>Comptes</th>

    </thead>
    <tbody>
{% for partenaire in partenaires %}


    <tr>
        
      <td>{{ partenaire.user.nom}}</td>
      <td>
            {{ partenaire.user.prenom}}
      </td>
      <td>
            {{ partenaire.user.login}}
      </td>
          <td>
            {{ partenaire.user.profil.libelle}}
      </td>

      <td>
           <a class="btn btn-large btn-xs btn-success" href="#" role="button">{{ partenaire.user.etat}}</a>
           
      </td>
      <td>
      {% if partenaire.user.etat=='Actif'%}
        <a class="btn btn-large btn-xs btn-warning" href="{{path('admin.partenaire.bloquer',{id:partenaire.id,etat:'Inactif'})}}" role="button">Désactiver</a>
        {% else %}
        <a class="btn btn-large btn-xs btn-success" href="{{path('admin.partenaire.bloquer',{id:partenaire.id,etat:'Actif'})}}"role="button">Activer</a>
      {% endif %}
         
         
          
           
      </td>

      <td>
           <a class="btn btn-large btn-xs btn-success" href="{{path('admin.partenaire.showCompte',{id:partenaire.id})}}" role="button">Mes Comptes</a>
           
      </td>
     
     
    </tr>
    {% endfor %} 
</tbody>
</table>



{% endblock %}
{% block titlecontent %}Liste Caissier{% endblock %}





{% block javascripts %}
      {{parent()}}
<script>
  $(function () {
    $('#profils').DataTable()

  })
</script>
{% endblock %}